$white: #fff;
$black: #000;

$blue_color_background: #EBF2FF;
$blue_color_border: #9DC2FF;
$blue_color_icon: #2979FF;
$blue_color_text: #2264D1;
$blue_color_menu_item: #C4DAFF;

$gray_color_icon: #9696A0;
$gray_color_text: #787885;
$gray_color_background: #EDEDF0;
$gray_color_active_border: #5A5B6A;
$gray_color_border_icon: #787885;
$gray_color_border: #B4B4BB;
$gray_color_price: #5E6366;

$black_color_text: #19191D;
